/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './loader';

body {
  background-color: rgb(248, 238, 226);
}

.container {
  text-align: center;
  margin-top: 2rem;

  font-family: sans-serif;
}
